<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thay đổi mật khẩu</title>
</head>
<body>
<form action="" method="get">
  <table width="571" height="120" border="1">
    <tr>
      <th width="230" height="31" scope="row">nhập mật khẩu mới:</th>
      <th width="325" scope="row"><label for="txtmk"></label>
      <input name="txtmk" type="text" id="txtmk" size="50" /></th>
    </tr>
    <tr>
      <th height="25" scope="row">nhập mật cần đổi:</th>
      <th scope="row"><label for="txtmkm">
        <input name="txtmkm" type="text" id="txtmkm" size="50" />
      </label></th>
    </tr>
    <tr>
      <th height="53" colspan="2" scope="row">Thay đổi
      <input type="submit" name="button" id="button" value="Submit" /></th>
    </tr>
  </table>
</form>
</body>
</html>